.flexbox{
    display: flex;
    padding: 0px;
    border: 2px solid black;
    flex-direction: row;
    /* WRAP HACE QUE OCUPEN TODA LA 1 LINEA Y NO-WRAP HACE QUE SEA TODO DEL MISMO TAMAÑO DANDO IGUAL LAS LINEAS */
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-between;
    align-items: center;

}

.flex-item{
    width: 200px;
    height: 200px;
    font-size: 50px;
    color: white;
    text-align: center;
}

.item1{
    background-color: red;
}

.item2{
    background-color: rgb(255, 112, 112);
}

.item3{
    background-color: rgb(148, 0, 0);
}

.item7 {
    align-items: flex-start;
    /* FLEX GROW SIRVE PARA DEVIDIR EN CAJAS */
    flex-grow: 1;
}

.item8 {
    align-items: flex-start;
    /* EN ESTE CASO VA A COUPAR EL DOBLE QUE EL ITEM 7 */
    flex-grow: 2;
}