.ejercicio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 16px;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
}

.ejercicio .ejercicio-individual-foto {
    max-width: 200px;
    height: auto;
}

.ejercicio .ejercicio-individual-nombre {
    text-transform: capitalize;
    font-size: 24px;
    font-family: sans-serif;
}

.divEjercicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.ejercicio-individual-general {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: calc(100%);
}

.endExerciseButton,
.finalizarRutina {
    width: 30%;
    border: 1px solid black;
    padding: 12px;
    border-radius: 12px;
    background-color: #daf7a6;
}

.finalizarRutina{
    margin-left: 16px;
}

.endExerciseButton:hover {
    cursor: pointer;
}

.divEjerciciosHechos,
.divEjerciciosRestantes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-left: 16px;
}

.divEjerciciosRestantes .ejercicio-individual-general{
    gap: 15px;
}

.modal-containerFinalizarDia {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

.divEjerciciosHechos div,
.divEjerciciosRestantes div {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal-containerFinalizarDia .divContainerFalta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divEjerciciosHechos div .ejercicio-individual-nombre,
.divEjerciciosRestantes div .ejercicio-individual-nombre {
    font-size: 16px
}

.divEjerciciosHechos div .ejercicio-individual-foto,
.divEjerciciosRestantes div .ejercicio-individual-foto,
.divEjerciciosHechos div .endExerciseButton {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}