html,
body,
main {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #daf7a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
h1,
h2,
h3,
li,
button {
  font-family: sans-serif;
}

.divError {
  padding: 8px;
  background-color: #ffcdd2;
  color: red;
  text-align: center;
}

.header {
  background-color: #e8e8e8;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  max-height: 96px;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  top: 0;
}

.accordionMenu img,
.accordionMenu {
  width: 32px;
  height: 32px;
}

.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.menu-content {
  display: none;
}

.menu-content.active {
  width: 200px;
  height: calc(100% - 123px);
  background-color: #e8e8e8;
  position: fixed;
  top: 97px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.divLogout {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.divLogout button {
  border: 0;
  background-color: transparent;
  position: relative;
}

.divLogout button::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  bottom: 0;
  left: -12px;
  right: 0;
  background-image: url("../images/logout.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.divGestionarTareas ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  margin: 0;
  position: relative;
}

.divGestionarTareas ul li {
  display: flex;
  align-items: center;
}

.divGestionarTareas ul li:hover {
  cursor: pointer;
}

.divGestionarTareas ul li p {
  margin: 0;
  padding-left: 25px;
}

.divGestionarTareas ul li::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url("../images/punto.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content h1 {
  margin-top: 30px;
  text-align: center;
}

.main-content {
  height: calc(100% - 97px);
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 90%;
}

.textoHome {
  display: flex;
  gap: 20px;
  width: 1280px;
  max-width: 90%;
  justify-content: center;
  align-items: center;
}

.explicacionApp ul,
.objetivosApp ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding-left: 16px;
}

.explicacionApp,
.objetivosApp {
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bienvenidoUser {
  position: absolute;
  right: 75px;
  height: 32px;
  display: flex;
  align-items: center;
}

.modalAddTarea,.modalAddCustomExercise {
  display: none;
}

.modalAddTarea.active,
.modalAddCustomExercise .active {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlayModalAddTarea {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: rgba(51, 51, 51, 0.55);
}

.modal-containerAddTarea {
  z-index: 2;
  width: 850px;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  position: relative;
  padding: 15px;
  max-height: 500px;
}

.opcionesDeEjercicios h2 {
  text-align: center;
}

.buttonsEjercicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  padding: 12px;
}

.modal-closeAddTarea {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: transparent;
}

.modal-closeAddTarea:hover {
  cursor: pointer;
}

.modal-closeAddTarea::before,
.modal-closeAddTarea::after {
  height: 1px;
  background-color: #333;
}

.modal-closeAddTarea::after {
  content: "";
  width: 18px;
  transform: rotate(-45deg);
  position: absolute;
  opacity: 1;
}

.modal-closeAddTarea::before {
  content: "";
  width: 18px;
  transform: rotate(45deg);
  position: absolute;
  opacity: 1;
}

.divAddEjercicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: calc(100% - 156px);
}

.divAddExercise {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.imgPhotoExercise {
  max-height: 200px;
  width: auto;
}

.divContentExercise .nameExercise {
  text-transform: capitalize;
  font-size: 24px;
  font-family: sans-serif;
}

.divContentExercise {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nameInstructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.addButton {
  border: .8px solid #bbb;
  background-color: #fff;
  margin: 0 15px;
  border-radius: 16px;
  padding: 14px;
}

.addButton:hover{
  cursor: pointer;
}

.divGestionarTareas ul li p a{
  color: black;
  text-decoration: none;
}

.divCustom{
  padding: 12px;
}

.divCustom button{
  border: .8px solid #bbb;
  background-color: #fff;
  border-radius: 16px;
  padding: 14px;
}

@media (max-width: 780px) {
  .textoHome {
    flex-direction: column;
    width: 100%;
  }

  .explicacionApp,
  .objetivosApp {
    width: 100%;
    margin-bottom: 35px;
  }
}