body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eee;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: 100dvh;
}

.header, .footer{
    width: 100%;
    background-color: red;
    padding: 40px 0 40px 0;
    text-align: center;
}

.primary{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
}

.sidebar{
    background-color: aqua;
    flex-grow: 1;
    text-align: center;
}

main{
    flex-grow: 6;
    text-align: center;
    min-height: 100%;
}

@media (max-width: 480px){
    .primary{
        flex-direction: column;
    }
    .sidebar.right{
        display: none;
    }
}